<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<div class="logo">🌾 OptiCrop</div>

<ul>

<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('prediction') }}">Find Your Crop</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>

</ul>

</nav>

<section class="features">

<h2>Contact</h2>

<div class="card">

<h3>Developer</h3>

<p>Mubeena Shaik</p>
<p>Padma Jinka</p>
<p>Sravani Pulivarthi</p>

<br>

<h3>Project</h3>

<p>OptiCrop - Smart Agricultural Production Optimization Engine</p>

<br>

<h3>Technology</h3>

<p>Flask + Machine Learning + Python</p>

</div>

</section>

</body>
</html>