<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiCrop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>🌱 Welcome to OptiCrop</h1>

    <h2>Smart Agricultural Production Optimization Engine</h2>

    <p>
        OptiCrop helps farmers choose the best crop based on
        Nitrogen, Phosphorus, Potassium, Temperature,
        Humidity, pH, and Rainfall.
    </p>

    <button>Get Started</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>